{% extends "padre.html" %}
{% load static %}
{% block contenido %}
    <div class="descripcion-concesionaria">
        <h3>¡Bienvenido/a a nuestro sitio web!</h3>
        <p>En nuestra concesionaria nos enorgullece ofrecer una amplia selección de motos de las marcas más reconocidas del mercado. Desde modelos deportivos hasta motos clásicas, tenemos algo para cada tipo de conductor.</p>
        
        <p>Con múltiples sucursales ubicadas en diferentes partes del Área Metropolitana de Buenos Aires, estamos comprometidos a brindarte una experiencia de compra excepcional dondequiera que te encuentres. Nuestro equipo de expertos está siempre dispuesto a ayudarte a encontrar la moto perfecta que se adapte a tus necesidades y estilo de vida.</p>
        
        <p>Además de la venta de motos, también ofrecemos una amplia gama de repuestos originales y accesorios para que puedas personalizar tu moto según tus preferencias. Nuestra prioridad es garantizar tu satisfacción y seguridad en la carretera, por lo que nos esforzamos por proporcionar un servicio de calidad y atención al cliente excepcional en cada paso del camino.</p>
    </div>
    {% endblock %}