{% extends 'padre.html' %}
{% load static %}
{% block contenido %}
    <h3>Lista de motos</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>ESTADO</th>
                <th>AÑO</th>
                <th>PRECIO</th>
            </tr>
        </thead>
        <tbody>
            {%for n in motos %}
            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.marca}}</td>
                <td>{{n.modelo}}</td>
                <td>{{n.estado}}</td>
                <td>{{n.año}}</td>
                <td>{{n.precio}}</td>
                {% if request.user.is_authenticated %}

                <td><a href="{% url 'eliminar_moto' n.id %}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="{% url 'editar_moto' n.id %}" class="btn btn-warning">Editar</a></td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

